.graph {
  --node-size: 60px;
}
.graph {
  position: relative;
  flex: 1;
  width: 100%;
}
.node {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 8pt;
  transition: transform 0.2s;
}
.node:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
.node > div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: var(--node-size);
  height: var(--node-size);
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden;
  position: relative;
}
.node > div > img {
  width: 110%;
  height: 110%;
}
.edges {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}
