.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  min-height: 100svh;
  font-family: 'Mulish', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  background: url('/images/background.png') no-repeat center/cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.welcome {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(8px);
}
.permadismiss {
  cursor: pointer;
  margin-top: 20px;
}
.permadismiss input {
  margin-right: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 200px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid #3B2F2F;
  backdrop-filter: blur(8px);
}
.overlay div {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: 0 0 4px #3B2F2F;
}
.red {
  color: #f11;
}
.blue {
  color: #22f;
}
