.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  min-height: 100svh;
  font-family: 'Mulish', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  background: url('/images/background.png') no-repeat center/cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  width: 200px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid #3B2F2F;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.score {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: 0 0 4px #3B2F2F;
}
.score div {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 2px 4px;
}
.red {
  color: #ef8585;
}
.blue {
  color: #8484e9;
}

.status {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
  }
  50% {
    color: #00cc00;
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  100% {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
  }
}
